nav {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: turquoise;
  font-size:40px;
  height:50px;
}

.top-spotits {
  text-align:center;
}

.feed {
  text-align:center;
}

.title {
  margin-left: 150px;;
  margin-right: 150px;
  background-color: rgb(182, 200, 194);
  color:rgb(35, 39, 42);
}

.go-spotit {
  text-align:center;
}
.image-wrapper {
  display:block;
}

.feed > h1 {
  text-align:center;
}

.image-wrapper > img {

}

.image-wrapper > h2 {
    position: absolute;
    width: fit-content;
    text-align: left;
    margin: 0px 40;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}



img {
  max-width: 442px;
  max-height: 335px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.container {
  max-width: 120rem;
  /*margin: 4vw auto;*/
  background-color: #fff;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(101, 90, 86, 0.2);
  display: grid;
  /*grid-template-rows: 10rem minmax(100rem, auto); no need because we have only 3 cols (no rows)*/
  grid-template-columns: auto auto auto;
  grid-template-areas: "top-spotits feed go-spotit"; 
  grid-auto-columns: 100px;
}


/*outer*/
